body{
    background-color: #000000;

}

img{
 float: right
}

.Container{
    position: relative;
    max-width: 1490px;
    margin-left: auto;
    margin-right: auto;
}

.Contentbox{
    height:750px;
     width: 1060px;
    float: left; 
    background-image: url(HomePics/fire.gif);
    background-repeat:no-repeat;
    background-position: center;
    overflow: hidden;
}



.portfolioboxes{
    height: 155px;
    width: 400px;
    float: left;
    margin: 16px 15px;
    background-image: url(HomePics/Redbar2.jpg);
    background-position: right;
    overflow-x: visible;
}

.logobox{
    float: left;
    height: 400px;
    width: 400px;
    margin-top: 60px;
    margin-left: 60px;
}

.statementbox{
    width: 480px;
    height: 80px;
    float: left;
    margin-left: 400px;
    margin-top: 20px;
}

.footer{
    width: 850px;
    height: 30px;
    float: left;
    margin-top: 250px;
}

a{
    color: white;
    text-align: left;
    font-family:'Megrim', cursive;
    font-kerning:auto;
    text-align: left;
    font-size:2.2rem;
    text-decoration: none;
    text-shadow: 2px 2px 10px white;
}

a:hover{
    color: #ff970a;
    background-color: rgba(0, 0, 0, 0);
}

p{
    color: white;
    font-family: 'Nunito', sans-serif;
    font-size: 0.8rem
}