body{
    background-color: black;
    
}


.Container{
    position: relative;
    max-width: 1490px;
    margin-left: auto;
    margin-right: auto;
    

}

.header{
    max-width: 1490px;
    height: 200px;
     background-image: url(designpics/BlackAbleCanvasback-max-1mb.gif);
    background-position: center;
    background-repeat: no-repeat
}

.Title{
    
    Height:200px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
      
}

.Content{
   width:1200px;
   height:520px;
   overflow-y: scroll;
   float: left;
}

.Description{
    width: 290px;
    height: 520px;
    float: left;
    background-image: url(designpics/Greeneeke.jpg);
    background-position: right;
    background-repeat: no-repeat;
}

.nextpage1{
    width: 200px;
    height: 80px;
    float: left;
    margin-top: 55px;
    margin-left: 30px;
    
}

.nextpage2{
    width: 200px;
    height: 80px;
    float: right;
    margin-top: 55px;
    margin-right: 30px;
}

h1{
    color: white;
    text-align: left;
    margin-left: 140px;
    font-size: 2.95rem;
    padding-top: 90px;
    font-family: 'Megrim', cursive;
    text-shadow: 2px 2px 12px white;
}

a{
    color: rgb(229, 255, 213);
    text-align: center;
    font-size: 1.8rem;
    font-family: 'Megrim', cursive;
    text-shadow: 2px 2px 9px rgb(168, 255, 168);
}

a:hover{
    
  color: #ffffff;  
}

.nextpage1 a{
    float: right;
}

.descriptionsuper{
    
    width: 216px;
    float: left;
    
}

h4{
    
    font-family:'Nunito', sans-serif;
    color: white;
    font-size: 1.0rem;
}

p{
    color: white;
    font-family:'Nunito', sans-serif;
}

.descriptionsuper a{
    
    color: white;
    font-size: 1.0rem;
    font-family: 'Nunito',sans-serif;
}

.Content h1{
    
  margin-left: auto;
  margin-right: auto;
    text-align: center;
    
}